
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #3b3b3b;
    color: white;
    text-align: center;
    height: 100%;
    font-size: 18px;
  }
  
  .wrappper {
    width: 100%;
    margin: 0 auto;
  }
  
  #stickman {
    color: rgb(255, 255, 255);
    border: white dashed 2px;
    padding: 15px;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
  }
  h1 {
    font-size: 2.6em;
  }
  
  h2 {
    font-size: 1.2em;
  }
  
  p {
    font-size: 1.2em;
  }
  
  .btn-2 {
    background: #a1ece6;
    border-radius: 5px;
    border: solid 1px white;
    color: white;
    width: 35px;
    height: 35px;
    margin: 0 10px 10px 0;
    outline: none;
  }
  .btn-2:hover {
    transition: 0.5s;
    background: white;
    border: solid 1px white;
    color: #a1ece6;
  }
  
  .selected {
    background: white;
    border: solid 1px white;
    color: #a1ece6;
  }
  
  .btn-2 {
    border-radius: 10px;
    background: #a1ece6;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 10px;
    width: 180px;
    height: 50px;
    margin: 0 10px 10px 0;
  
    outline: none;
  }
  .btn-2:hover {
    transition: 0.5s;
    background: white;
    border: solid 1px white;
    color: #a1ece6;
  }
  