body{
    display: flex;
}

#table{
    width: 100%;
}

#divInicial{
    display: flex;
    width: 40%;
    margin: auto;
    height: 100vh;
}

#scoreContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    margin-left: 20px;
    display: none;
}

#scoreContainer h2{
    align-self: center;
    margin-bottom: 10px;
    font-size: 18px;
    margin: 5px;
}

#scoreTable{
    align-self: center;
    border-spacing: 0px 2px;
    text-align: center;
    margin: 0 5px 0 5px;
}

#scoreTable th{
    width: 10vw;
}

#scoreTable #primero{
    background-color: gold;
}

#scoreTable #segundo{
    background-color: silver;
}
#scoreTable #tercero{
    background-color: rgb(205, 127, 50);
}

#game{
    display:none;
}

#userRegistration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

#userRegistration button{
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 10px;
    border: 0px;
    background-color: #b3e6b3;
}

#userRegistration input{
    border-radius: 16px;
    border: solid 1.5px black;
    background-color: #ebebeb;
    padding: 0.5rem;
}

#userName{
    margin: 1rem;
}

